.reactorWrapper{
    width: 50vw;
    height: 50vh;
}

.reactor{
    border: solid 1.5px;
    border-radius: 30px;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 1.5px;
}

.reactorContent{
    background-image: linear-gradient(white, #0000ff);
    height: 30%;
    border-radius: inherit;
    margin-left: -1.5px;
}
